.create_account_container {
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.1s ease-out;

    .modal {
        width: 24rem;
        height: 32rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(12px);
        padding: 1rem 1rem;
        border: none;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        .google_sign_in {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 1rem 3rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            transition: all 0.1s ease-out;

            img {
                width: 3rem;
            }

            h2 {
                margin: 0;
            }
        }

        .google_sign_in:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .join_as_guest {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 1rem 4.8rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            transition: all 0.1s ease-out;

            h2 {
                margin: 0;
            }
        }

        .join_as_guest:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
}

.editor_join_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.1s ease-out;

    .modal {
        width: 24rem;
        height: 32rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(12px);
        padding: 1rem 1rem;
        border: none;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        .join_existing {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 1rem 3rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            transition: all 0.1s ease-out;

            input[type="text"] {
                width: 100%;
                height: 2rem;
                border: 1px solid #000;
                outline: none;
                border-radius: 0.2rem;
                margin-bottom: 1rem;
            }

            h2 {
                margin: 0;
            }
        }

        .join_existing:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .create_room {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 1rem 4.8rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            transition: all 0.1s ease-out;

            h2 {
                margin: 0;
            }
        }

        .create_room:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
}
.save_file_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.1s ease-out;

    .modal {
        width: 24rem;
        height: 32rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(12px);
        padding: 1rem 1rem;
        border: none;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        .save_file {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 1rem 3rem;
            border: none;
            border-radius: 1rem;
            transition: all 0.1s ease-out;
            
            input[type="text"] {
                width: 16rem;
                height: 2rem;
                border: 1px solid #000;
                outline: none;
                border-radius: 0.2rem;
                margin-bottom: 1rem;
            }

            button {
                font-size: 1rem;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.2rem;
                background-color: rgb(211, 211, 211);
                cursor: pointer;
            }

            .btn_container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.2rem;
            }
        }
    }
}