.landing-container {
    width: 100%;
    height: 100vh;
    background-color: #0b0b0b;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: larger;
    position: relative;
    overflow: hidden;
    color: white;

    .landing-gradient-1 {
        --size: 600px;
        --speed: 10s;
        --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
        width: var(--size);
        height: var(--size);
        filter: blur(calc(var(--size) / 5));
        background-image: linear-gradient(hsla(221, 82%, 57%, 0.4), hsl(252, 82%, 12%));
        animation: rotate var(--speed) var(--easing) alternate infinite;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        position: absolute;
        top: -12rem;
        right: -12rem;
    }

    .landing-gradient-2 {
        --size: 600px;
        --speed: 10s;
        --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
        width: var(--size);
        height: var(--size);
        filter: blur(calc(var(--size) / 5));
        background-image: linear-gradient(hsla(221, 82%, 57%, 0.4), hsl(252, 82%, 20%));
        animation: rotate var(--speed) var(--easing) alternate infinite;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        position: absolute;
        bottom: -12rem;
        left: -12rem;
    }

    .section-l {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-left: 6rem;
        padding-bottom: 4rem;
        
        h2 {
            color: white;
            font-size: 5rem;
            line-height: 0%;
        }

        p {
            color: rgba(255, 255, 255, 0.7);
            font-size: 3rem;
            margin: 0;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 0.5rem;
            margin-top: 1rem;
            font-size: 1rem;
            border: none;
            border-radius: 0.2rem;
            font-weight: 600;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 5;
        }

        .file {
            width: 100%;
            padding: 1rem 2rem;
            border: none;
            border-radius: 0.2rem;
            background-color: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(12px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: 1rem;
                cursor: pointer;
            }
            h2:hover {
                color: rgb(0, 60, 255);
            }
        }
    }

    .section-a {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0.6rem;
        padding-left: 6rem;
        padding-bottom: 4rem;
        
        .file {
            width: 100%;
            padding: 1rem 2rem;
            border: none;
            border-radius: 0.2rem;
            background-color: rgba(66, 66, 66, 0.5);
            backdrop-filter: blur(12px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: 1rem;
                cursor: pointer;
                color: white;
            }
            h2:hover {
                color: rgb(0, 60, 255);
            }

            .date {
                display: flex;
                flex-direction: column;
                align-items: start;
                font-size: 0.8rem;
                color: white;
                font-weight: 300;
            }
        }
    }
}