@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}
* {
    transition: all 0.25s ease-out;
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
}
@import "./landing.scss";
@import "./code_editor.scss";
@import "./components.scss";